.reel-section {
	height: 80vh;
	max-height: 600px;
	width: 100%;
	background-color: #02030b;
	background-image: url('../../assets/main-Here-Section-1.svg');
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-clip: padding-box;
	justify-content: center;
}
.reel-section h1 {
	position: relative;
	color: #FFFFFF !important;
	align-self: center;
	font-size: 1.3rem !important;
	font-weight: 700 !important;
}

.reel {
	width: 100%;
	max-width: 100%;
	align-self: center;
	margin-top: 20px;
}
.reel-container {
	width: 80%;
	max-width: 700px;
	align-self: center;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.progress-bar-container {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-self: center;
	margin-top: -40px;
	height: 2px;
	background: #FFFFFF;
	flex-direction: row;
}

.play-btn {
	display: flex;
	position:absolute;
	background: none;
	border: none;
	margin-top: 90px;
	border-radius: 50%;
	color: #be292e;
    font-weight: 600;
	align-items: center;
	justify-content: center;
}
.play-btn-outer-circle {
	position: absolute;
	width: 70px;
	height: 70px;
}
.play-btn-inner-circle {
	position: absolute;
	width: 50px;
	height: 50px;
}
.play-btn-span {
	font-weight: 600;
	position: absolute;
	z-index: 100;
}
.duration-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #ddd;
}
.full-screen-btn{
    border: none;
    background: none;
    padding: 0;
    margin-top: -10px;
        z-index: 100;
}
.full-screen-icon{
    color: #ddd;
}
.reel-section .social-buttons {
	margin-right: -45px;
	background: none;
	display: flex;
    flex-direction: column;
	border: none;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	padding-bottom: 20px;
	justify-self: center;
	width: 50px;
	position: absolute;
}
.reel-section .social-btn {
	width: 40px;
	background: none;
	display: flex;
	border: none;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}
.reel-section .social-media-circle {
	align-self: flex-start;
}
.reel-section .social-icon {
	position: absolute;
	color: #F2F2F2;
}
/* Extra small devices (phones, 576px and down) */
@media (max-width: 576px) {
	
	.reel-section {
			height: 80vh;
			max-height: 400px;
			padding-top: 40px;
		}
	.reel {
		width: 85%;
		margin-top: 20px;
	}
	.reel-container {
		width: 100%;
	}
	section {
		height: 50vh;
		max-height: 700px;
		width: 100vw;
	}
    .reel-section .social-buttons{
        margin-right: -3px;
    }
	.reel-section .social-btn {
		width: 40px;
	}

	.reel-section .social-media-circle {
		width: 32px;
		height: 32px;
	}

	.reel-section .social-icon {
		width: 19px;
		height: 19px;
	}
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
	.reel {
		width: 90%;
		margin-top: 70px;
	}
	.reel-section h1 {
		top: 70px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}
