nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
    position: absolute;
    color: #FFFFFF;
}
.pages {
    display: flex;
    flex-direction: row;
}