body {
  font-family: "Poppins", sans-serif;  
    font-style: normal;
      font-weight: 100;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #050514 !important;
  color: #fff
}